<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>This Day in History</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>

    </header>

<div id='search-results-container'>
  <h2>Search Results</h2>
    <p> Here are 10 articles from <%= date %></p>
    <% results.forEach((result) => { %>
    <p> <a href="<%= result.web_url %>"> <%= result.headline.main %> </a></p>
    <p> <%= result.byline.original %> </p>
    <p> <%= result.lead_paragraph %> </p>
    <form action='/firstSearch/save' method='POST'>
      <input type="hidden" name='favorite[headline]' value='<%= result.headline.main %>'>
      <input type='hidden' name='favorite[byline]' value='<%= result.byline.original %>'>
      <input type='hidden' name='favorite[lead_paragraph]' value='<%= result.lead_paragraph %>'>
      <input type='submit' value='save'>
    </form>
  <% }) %>
  </div>


<div id='favorites-container'>
  <h2> Saved Articles </h2>
    <%favorites.forEach((fave) => { %>
    <p> <a href="<%= fave.web_url%>"> <%= fave.headline.main %> </a> </p>
    <p> <%= fave.byline.original %> </p>
    <p> <%= fave.lead_paragraph %> </p>
    <form action='/firstSearch/delete<%= fave._id %>?_method=DELETE' method='POST'>
      <input type='submit' value='DELETE'>
    </form>
  <% }) %>
</div>

<%#
<!-- <div id='user-container'>
  <h2>Narrow Your Search by NY Times News Desk</h2>

  <p>First, enter the date you would like to see news articles for.</p>
 <form action='/secondSearch' method='POST'>
  <input type='date' name='begin_date' placeholder="enter date in YYYYMMDD format">
  <input type='submit' value='search'>
 </form>
  <p> Then select the news desk you would like to filter results by.</p>
  <form action='/secondSearch' method='POST'>
  <select name="section_name">
    <option value="Arts">Arts</option>
    <option value="Automobiles">Automobiles</option>
    <option value="Blogs">Blogs</option>
    <option value="Books">Books</option>
    <option value="Business">Business</option>
    <option value="Business Day">Business Day</option>
    <option value="Corrections">Corrections</option>
    <option value="Crosswords and Games">Crosswords and Games</option>
    <option value="Dining and Wine">Dining and Wine</option>
    <option value="Editors' Notes">Editors' Notes</option>
    <option value="Education">Education</option>
    <option value="Fashion and Style">Fashion and Style</option>
    <option value="Food">Food</option>
    <option value="Front Page">Front Page</option>
    <option value="Giving">Giving</option>
    <option value="Global Home">Global Home</option>
    <option value="Great Homes and Destinations">Great Homes and Destinations</option>
    <option value="Health">Health</option>
    <option value="Home and Garden">Home and Garden</option>
    <option value="International Home">International Home</option>
    <option value="Job Market">Job Market</option>
    <option value="Learning">Learning</option>
    <option value="Magazine">Magazine</option>
    <option value="Movies">Movies</option>
    <option value="Multimedia">Multimedia</option>
    <option value="NYRegion">NYRegion</option>
    <option value="NYT Now">NYT Now</option>
    <option value="National">National</option>
    <option value="New York">New York</option>
    <option value="New York and Region">New York and Region</option>
    <option value="Obituaries">Obituaries</option>
    <option value="Olympics">Olympics</option>
    <option value="Open">Open</option>
    <option value="Opinion">Opinion</option>
    <option value="Paid Death Notices">Paid Death Notices</option>
    <option value="Public Editor">Public Editor</option>
    <option value="Real Estate">Real Estate</option>
    <option value="Science">Science</option>
    <option value="Sports">Sports</option>
    <option value="Style">Style</option>
    <option value="Sunday Magazine">Sunday Magazine</option>
    <option value="Sunday Review">Sunday Review</option>
    <option value="T Magazine">T Magazine</option>
    <option value="T:Style">T:Style</option>
    <option value="Technology">Technology</option>
    <option value="The Upshot">The Upshot</option>
    <option value="Theater">Theater</option>
    <option value="Travel">Travel</option>
    <option value="U.S.">U.S.</option>
    <option value="Universal">Universal</option>
    <option value="UrbanEye">UrbanEye</option>
    <option value="Washington">Washington</option>
    <option value="Week in Review">Week in Review</option>
    <option value="World">World</option>
    <option value="Your Money">Your Money</option>
  </select>
  <br><br>
  <input type='submit' value='search'>
 </form>

</div> -->
%>
</body>
</html>
